<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>About me</mat-card-title>
    <mat-card-subtitle>Ana Carolina's Biography:</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Greetings, I am Ana Carolina, a 23-year-old Business and IT student at the
      University of Salford. Born in the small city of Manaus, Brazil, I have
      called Manchester my home with pride for the past four years.
    </p>
    <p>
      Global Explorer: My journey has been marked by a passion for exploration,
      having traveled to captivating destinations such as Portugal, Dubai, and
      Angola. These experiences have not only enriched my perspective but have
      also fostered a profound appreciation for cultural diversity.
    </p>
    <p>
      Professional Journey: In parallel with my academic pursuits, I currently
      serve as a Sales Associate at Trafford, a distinguished shopping center in
      Manchester. This role has been instrumental in sharpening my interpersonal
      and sales skills, enabling me to deliver exceptional customer service.
      Moreover, it provides a pragmatic view of the business world, seamlessly
      complementing my academic endeavors.
    </p>
    <p>
      Personal Attributes: As a communicative individual with a knack for
      efficient time management, I am consistently propelled by a thirst for
      knowledge. Fluent in both Portuguese and English, my bilingual
      capabilities add an extra layer to my versatility.
    </p>
    <p>
      Philosophy and Growth: At the core of my philosophy lies an unwavering
      commitment to continuous learning and personal growth. I strive to
      harmonize academic theory with practical experience, constructing a robust
      foundation for my future endeavors.
    </p>
    <p>
      Career Vision: Looking forward, I am committed to perpetual learning and
      the strategic development of my professional career here in England. My
      goal is to seamlessly practice my future profession across diverse global
      landscapes.
    </p>
    <p>
      Welcome to My World: I invite you to explore my world, where each
      experience unfolds as an opportunity for both personal and professional
      development. Thank you for being a part of my journey.
    </p>

    <p>Contact Information:</p>
    <p><label> Email: Carolinaana837_c3</label></p>
    <p>
      LinkedIn:
      https://www.linkedin.com/in/ana-carolina-santo-4916b125a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app
    </p>
    <p>Phone: +44 7599 126485‬</p>
    <p>Location: Manchester, United Kingdom</p>
  </mat-card-content>
</mat-card>
