.example-card {
    max-width: 500px;
    padding: 10px; /* Espaçamento interno */
    align-content: center;
  }
  
  .example-header-image {
    background-image: url('/assets/file.enc');
    background-size: cover;
    padding: 10px;
  }
  