<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Education</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      2025 University of Salford Business Management with Innovation and
      Technology (level 5)
    </p>
    <p>2022 University of Salford</p>
    <p>International Foundation Year</p>
    <p>
      2021 Ec English school - Manchester , Salford English Advanced General
      English
    </p>
    <p>Senac - Manaus , Amazonas</p>
    <p>Basic and advanced Computer Science</p>
    <p>University of Salford :</p>
    <p>
      Mathematics 1 and 2, English Study skills, Economics for business,
      understanding Organizations HR, Business skills, Digital and Business
      skills, The future of business,Data analysis for Business, Business
      Intelligence and Dashboard, Professional development and Web development.
    </p>
  </mat-card-content>
</mat-card>
<p></p>

<div style="padding: 20px;">
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <img mat-card-image src="/assets/cert1.png" />
    </mat-grid-tile>
    <mat-grid-tile>
        <img mat-card-image src="/assets/cert2.png" />
    </mat-grid-tile>
    <mat-grid-tile>
        <img mat-card-image src="/assets/cert3.png" />
    </mat-grid-tile>
    <mat-grid-tile>
        <img mat-card-image src="/assets/cert4.png" />
    </mat-grid-tile>
  </mat-grid-list>
</div>